DB_PROVIDER=postgres
DATABASE_URL=postgresql://neondb_owner:npg_YaItbW6xyP0V@ep-steep-math-amlgmht5.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require

# Server Port (Vercel will set this automatically)
PORT=5000

# Server Port (Vercel will set this automatically)
PORT=5000
